<div class="container">
  <div class="item item1">
    <div class="ts-title">
      <h2>Wyhoduj własne zdrowe warzywa</h2>
    </div>
    <p>
      Masz pełną kontrolę nad swoim ogródkiem. Jest to możliwe dzięki
      zamontowanym na grządkach kamerom, które przekazują w czasie rzeczywistym
      obraz prosto na Twój komputer lub smartfon.
    </p>
    <ul class="ts-list-colored-bullets">
      <li>Monitoring upraw 24H</li>
      <li>Zlecanie zabiegów pielęgnacyjnych przez aplikację</li>
      <li>Możliwość włączenia autopilota</li>
    </ul>
  </div>

  <figure class="item item2">
    <img
      src="../../../../assets/image-device_with_app.png"
      class="mw-100"
      alt=""
    />
  </figure>

  <figure class="item item3">
    <img
      src="../../../../assets/image-vegetables_from_gardener.png"
      class="mw-100"
      alt=""
    />
  </figure>

  <div class="item item4">
    <div class="ts-title">
      <h2>Zamów warzywa z zaufanego źródła</h2>
    </div>

    <p>
      Poznaj zagrodę, z której będziesz otrzymywał warzywa i owoce. Przyjedź,
      porozmawiaj z nami i sprawdź jak wyglądają nasze uprawy.
    </p>
    <ul class="ts-list-colored-bullets">
      <li>Naturalnie uprawiane warzywa pod stałym monitoringiem.</li>
      <li>Zamawiasz gdy potrzebujesz, lub wykupujesz abonament.</li>
      <li>Otrzymujesz swoje świeże warzywa bezpośrednio do domu.</li>
    </ul>
  </div>
</div>
