<div class="container">
  <div class="item1">
    <div class="ts-title">
      <h2>Wyhoduj własne zdrowe warzywa.</h2>
    </div>
    <!--end ts-title-->
    <p>
      Masz pełną kontrolę nad swoim ogródkiem. Jest to możliwe dzięki
      zamontowanym kamerom, które przekazują w czasie rzeczywistym obraz prosto
      na Twój komputer lub smartfon.
    </p>
    <ul class="ts-list-colored-bullets">
      <li>Monitoring upraw 24H</li>
      <li>Zlecanie zabiegów pielęgnacyjnych przez aplikację</li>
      <li>Możliwość włączenia autopilota</li>
    </ul>
  </div>

  <figure class="item2">
    <img
      src="../../../../assets/image-device_with_app.png"
      class="mw-100"
      alt=""
    />
  </figure>

  <div class="row">
    <div
      class="col-md-7 col-xl-7 text-center"
      data-animate="ts-fadeInUp"
      data-delay="0.1s"
    >
      <div class="px-3 mb-4">
        <img
          src="../../../../assets/image-vegetables_from_gardener.png"
          class="mw-100"
          alt=""
        />
      </div>
    </div>
    <!--end col-xl-7-->
    <div class="col-md-5 col-xl-5" data-animate="ts-fadeInUp">
      <div class="ts-title">
        <h2>Zamów warzywa w standardzie EKO+!</h2>
      </div>
      <!--end ts-title-->
      <p></p>
      <ul class="ts-list-colored-bullets">
        <li>Naturalnie uprawiane warzywa pod stałym monitoringiem.</li>
        <li>Zamawiasz gdy potrzebujesz, lub wykupujesz abonement.</li>
        <li>Otrzymujesz swoje świeże warzywa bezpośrednio do domu.</li>
      </ul>
    </div>
    <!--end col-xl-5-->
  </div>
  <!--end row-->
</div>
