<section
  id="subscribe"
  class="ts-block ts-background-is-dark ts-separate-bg-element full-bg-gradient"
  data-bg-image-opacity=".1"
  data-bg-color="#5f8d87"
  data-bg-parallax="scroll"
  data-bg-parallax-speed="3"
  data-mask-top-nw-color="#fff"
  data-mask-bottom-wn-color="#fff"
>
  <div class="container">
    <h3>Zbieramy zamówienia na sezon 2021! Zostaw do siebie kontakt</h3>
    <form class="ts-form">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group mb-0">
            <label for="email-subscribe">Twój adres email</label>
            <input
              type="email"
              class="form-control"
              aria-describedby="subscribe"
              name="email"
              [(ngModel)]="contactEmail"
              required
            />
            <small class="form-text mt-2 ts-opacity__50"
              >*Twój adres zostanie wykorzystany tylko do celu kontaktu w
              sprawie oferty specialnej.</small
            >
          </div>
          <!--end form-group-->
        </div>
        <!--end col-md-10-->
        <div class="col-md-2">
          <button
            type="submit"
            class="btn btn-dark w-100"
            (click)="sendMessage()"
          >
            Wyślij
          </button>
        </div>
      </div>
    </form>
    <!--end ts-form-->
  </div>
  <!--end container-->
</section>
