<div class="title">
  <h2>Piszą o nas:</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <owl-carousel
        [options]="mySlideOptions"
        [carouselClasses]="['owl-theme', 'sliding']"
      >
        <blockquote class="blockquote">
          <img
            class="ts-circle__lg"
            style="width: 8.125rem"
            src="../../../assets/article_mambiznes.jpg"
          />

          <p>
            <a
              class="myHref"
              href="https://mambiznes.pl/wlasny-biznes/stworzyli-aplikacje-ktora-umozliwia-wynajecie-dzialki-zdalnyogrodek-pl-przez-24-godziny-na-dobe-91117?fbclid=IwAR0tMphV1kSzEO1mDvWiV9XoRd5yLOFEQ49UKcwTUqeRWSUSWV_vV0hV3YA"
              >Koszt ogródka zależy od jego wielkości. Najtańszy wariant to 49
              zł miesięcznie za ogródek 1 m kwadratowy. Czy to dużo? Możemy na
              nim zasadzić przykładowo 4 sadzonki pomidora</a
            >
          </p>

          <footer class="blockquote-footer">
            <h4>mambiznes.pl</h4>
            <h6>Stworzyli aplikację, która umożliwia wynajęcie działki.</h6>
          </footer>
        </blockquote>

        <blockquote class="blockquote">
          <img
            class="ts-circle__lg"
            style="width: 8.125rem"
            src="../../../assets/article_money.jpg"
          />
          <p>
            <a
              class="myHref"
              href="https://msp.money.pl/wiadomosci/ogrodek-jak-netflix-wykup-abonament-i-uprawiaj-co-chcesz-6364751079975041a.html?fbclid=IwAR2uQN8itQZH4IgwNJOoZV9VKHqdXhYdDK0wdiFaWoVbLpLOd7ORwgWQANM"
              >Nie trzeba być rolnikiem, aby uprawiać pole i zbierać plony. Ba!
              Nie trzeba nawet mieć pola ani mieszkać na wsi. Startup
              zdalnyogrodek.pl zadba o poletka zabieganych mieszczuchów od
              ziarenka aż po zbiory. A cały proces można obserwować z poziomu
              aplikacji.</a
            >
          </p>
          <footer class="blockquote-footer">
            <h4>money.pl</h4>
            <h6>Ogródek jak Netflix.</h6>
          </footer>
        </blockquote>

        <blockquote class="blockquote">
          <img
            class="ts-circle__lg"
            style="width: 8.125rem"
            src="../../../assets/article_pomyslnastartup.jpg"
          />
          <p>
            <a
              class="myHref"
              href="https://startupy.lodz.pl/news/stworzyli-aplikacje-ktora-umozliwia-wynajecie-dzialki?fbclid=IwAR1-_Miyd-gK3rYEd80p2lfsByrmRHY4N7ofCDWVxxb70eI6jtlEQqyKT_I"
              >Jest to usługa pozwalająca mieszkańcom dużych aglomeracji na
              zdalne założenie i prowadzenie własnego ogródka w którym przez
              intuicyjną aplikacje zlecają zabiegi naszym pracownikom.
            </a>
          </p>

          <footer class="blockquote-footer">
            <h4>startupy.lodz.pl</h4>
            <h6>Wynajmój ogródek i opiekuj się nim zdalnie</h6>
          </footer>
        </blockquote>

        <blockquote class="blockquote">
          <img
            class="ts-circle__lg"
            style="width: 8.125rem"
            src="../../../assets/article_kreuje.jpg"
          />
          <p>
            <a
              class="myHref"
              href="https://kreuje.pl/wymyslili-aplikacje-ktora-pozwala-na-wynajecie-i-zdalna-uprawe-dzialki/"
              >Twórcy aplikacji zauważyli, że coraz większa część społeczeństwa
              chce mieć kontrolę nad spożywaną żywnością. Jednocześnie ludzie
              mają coraz mniej czasu, by samodzielnie ją wytwarzać.
            </a>
          </p>

          <footer class="blockquote-footer">
            <h4>kreuje.pl</h4>
            <h6>Aplikacja pozwalająca na wynajęcie i zdalną uprawę działki!</h6>
          </footer>
        </blockquote>

        <blockquote class="blockquote">
          <img
            class="ts-circle__lg"
            style="width: 8.125rem"
            src="../../../assets/article_mepodnikani.jpg"
          />
          <p>
            <a
              class="myHref"
              href="http://mepodnikani.cz/inspirace/napad-na-podnikani-vzdalena-zahradka/"
              >Zapewne popularność gier mobilnych, w których grasz w rolnictwo,
              zainspirowała Polaków do stworzenia podobnej koncepcji. Z tą
              różnicą, że nie tylko bawisz się w ogrodnictwo, ale uprawiasz
              prawdziwe pomidory lub rzodkiewkę, tyle że na odległość, za pomocą
              komputera i nie brudzisz sobie rąk.
            </a>
          </p>

          <footer class="blockquote-footer">
            <h4>mepodnikani.cz</h4>
            <h6>NÁPAD NA PODNIKÁNÍ: VZDÁLENÁ ZAHRÁDKA</h6>
          </footer>
        </blockquote>
      </owl-carousel>
    </div>
  </div>
</div>
