<div class="container">
  <div class="row">
    <div class="col">
      <br />
      <div>Podgląd Twojej grządki</div>
      <br />
      <div class="container">
        <div class="row row-cols-2">
          <div class="grid-item">
            <img class="grid-img" src="../../../assets/strawberry.jpg" />
          </div>
          <div class="grid-item">
            <img class="grid-img" src="../../../assets/empty.png" />
          </div>
          <div class="grid-item">
            <img class="grid-img" src="../../../assets/empty.png" />
          </div>
          <div class="grid-item">
            <img class="grid-img" src="../../../assets/empty.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
