<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Zdalny Ogródek</a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      (click)="open = !open"
      data-toggle="collapse"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="open">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/prices">Cennik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/camera">Kamera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/grzadka">Grządka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/farms">Zagrody</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles">Piszą o nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">Koszyk</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a
            ngbDropdownToggle
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Użytkownik
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" routerLink="/my/orders">Moje zamówienia</a>
            <a class="dropdown-item" routerLink="/admin/orders"
              >Zarządzaj zamówieniami</a
            >
            <a class="dropdown-item" routerLink="/admin/products"
              >Zarządzaj produktami</a
            >
            <a class="dropdown-item">Wyloguj</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
        <li>
          <a class="nav-item nav-link" *ngIf="user"
            >Witaj {{ user.firstName }}</a
          >
        </li>
        <li>
          <a class="nav-item nav-link" (click)="logout()" *ngIf="user"
            >Logout</a
          >
          <a class="nav-item nav-link" (click)="logout()" *ngIf="user == null"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
