.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 400px));
  grid-template-rows: repeat(auto-fit, 620px);
  max-width: 1000px;

  justify-content: center;
  justify-items: center;
  align-content: center;

  list-style: none;
  grid-gap: 20px;
  margin: 100px 0 0 0;
  padding: 0;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 320px));
  grid-template-rows: repeat(auto-fit, 650px);
  max-width: 1500px;

  justify-content: center;
  justify-items: center;
  align-content: center;

  list-style: none;
  grid-gap: 20px;
  margin: 100px 0 0 0;
  padding: 0;
}

.body {
  justify-content: center;
  justify-items: center;
}

.item {
  visibility: visible;
  backface-visibility: hidden;
  border: none;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgb(0 0 0 / 15%);
  margin-bottom: 1.875rem;
  overflow: hidden;
  animation-name: ts-fadeInUp;
  text-align: center;

  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.py-3 {
  background-color: #7a9b97;
}

.py-4 {
  background-color: #e55f5f;
}

.p-1 {
  background-color: #ff6a6a;
}

.ts-title {
  margin: 50px 0 0 0;
}

.ts-opacity__50 {
  opacity: 0.5;
  font-size: 80%;
  font-weight: 400;
  box-sizing: border-box;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  visibility: visible;
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
}

ul.ts-list-divided li {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
}
