<div class="ts-title text-center"><h3>Skrzynka</h3></div>
<div class="container">
  <div class="item item1">
    <div class="card-header p-0">
      <h5 class="mb-0 py-3 text-white">Skrzynka warzyw</h5>
      <div class="py-5 mb-0">
        <h3 class="mb-0 font-weight-normal">80 zł</h3>
        <small class="ts-opacity__50">za skrzynkę</small>
      </div>
    </div>
    <!--end card-header-->
    <div class="card-body p-0">
      <ul class="list-unstyled ts-list-divided">
        <li>Świeżo zebrane warzywa oraz owoce</li>
        <li>Aktualne plony z ogrodu</li>
        <li>Dostarczane prosto pod twoje drzwi</li>
        <li>Aplikacja webowa</li>
        <li>Możliwość odwiedzenia zagrody i osobistej weryfikacji upraw</li>
      </ul>
      <!--end list-->
    </div>
    <!--end card-body-->
    <div class="card-footer bg-transparent pt-0 ts-border-none">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdhOVpbifbGgCGFytjKHNEewuR7jl7wwaht93kL6-LJMFFMgQ/viewform"
        class="btn btn-outline-dark ts-btn-border-muted"
        >Zamów</a
      >
    </div>
  </div>

  <div class="item item2">
    <div class="card-header p-0">
      <h5 class="mb-0 py-3 text-white" data-bg-color="#7a9b97">
        Skrzynka warzyw PLUS
      </h5>
      <div class="py-5 mb-0">
        <h3 class="mb-0 font-weight-normal">100 zł</h3>
        <small class="ts-opacity__50">za skrzynkę</small>
      </div>
    </div>
    <!--end card-header-->
    <div class="card-body p-0">
      <ul class="list-unstyled ts-list-divided">
        <li>Wszystko to co w podstawowej wersji skrzynki<sup></sup></li>
        <li>Wybierasz co mamy dostarczyć oprócz warzyw:</li>
        <li>Jajka lub nabiał</li>
        <li>Przetwory z pobliskich gospodarstw</li>
      </ul>
      <!--end list-->
    </div>
    <!--end card-body-->
    <div class="card-footer bg-transparent pt-0 ts-border-none">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdhOVpbifbGgCGFytjKHNEewuR7jl7wwaht93kL6-LJMFFMgQ/viewform"
        class="btn btn-outline-dark ts-btn-border-muted"
        >Zamów</a
      >
    </div>
  </div>
</div>

<!--BUY NOW 
<section
  id="buy-now"
  class="ts-block text-center pt-4"
  data-bg-color="#eaeaea"
  data-mask-bottom-wn-color="#fff"
>
  <div class="container">
    <div class="ts-title">
      <h2>
        Warzywa, owoce, zioła? <br />Sam zdecyduj co zasadzisz w tym roku!
      </h2>
      <h5>Jeśli masz jeszcze wątpliwości, odpowiemy na wszelkie pytania.</h5>
    </div>

    <a href="#form-contact" class="btn btn-primary">Napisz do nas!</a>

  </div>
</section>

-->
