.container {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(auto-fit, 400px);

  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  vertical-align: middle;

  list-style: none;
  grid-gap: 50px;
  margin: 100px 0 100px 0;
  padding: 0;
}
