<div class="title">
  <h2>KOCIEWSKI PRZYSIÓŁEK</h2>
</div>

<div class="container">
  <figure class="item item2">
    <img
      src="../../../../assets/kociewskiprzysiolek.jpg"
      class="mw-100"
      alt=""
    />
  </figure>
  <div class="item item3">
    <p>
      <br />
      Zagroda Kociewski Przysiółek to miejsce na uboczu starej kociewskiej
      wioski — Szczodrowo. Z jednej strony graniczy z lasem, z pozostałych
      otaczają ją łąki i pola. Jest tutaj ogród warzywny, zakątek krzewów
      owocowych i nowo założony sad.
      <br />
      <br />
      Warzywa i owoce są uprawiane z wykorzystaniem technik permakultury oraz w
      oparciu o obserwacje biodynamiczne. Nieustanne dbanie o glebę pozwala
      uzupełniać substancje mineralne. Stosowany jest nawóz tylko naturalny oraz
      ściółkowanie zrębkami, słomą i resztkami roślinnymi.
      <br />
      Dobieranie roślin w gildie sprawia, iż wzajemnie się uzupełniają rosnąc
      silniejsze i odporniejsze.
      <br />
      <br />
      W zagrodzie uprawiane są różnoakie warzywa, począwszy od kolorowych sałat,
      przez ogórki, cukinie i pomidory, po marchew, cebulę i czosnek. To tylko
      kilka rodzajów, które klienci otrzymują w skrzynkach. Do tego dochodzą
      truskawki, które dzieci mogą skosztować prosto z krzaczka, czy jabłka z
      niepryskanych drzew.
      <br />
      Kociewski Przysiółek to także niewielka, naturalna pasieka. Pszczoły
      zbierają miód leśny oraz z okolicznych łąk.
    </p>
  </div>
</div>

<div class="title">
  <h2>JAGODNIK SKARSZEWSKI</h2>
</div>
<div class="container">
  <figure class="item item2">
    <img
      src="../../../../assets/jagodnikskarszewski.jpg"
      class="mw-100"
      alt=""
    />
  </figure>
  <div class="item item5">
    <p>
      <br />
      Jagodnik Skarszewski to plantacja malin, jeżyn, porzeczki i borówki
      amerykańskiej, położona pod Skarszewami. Powstała przede wszystkim z pasji
      do rolnictwa, zdrowej żywności oraz przywiązania do regionu.
      <br />
      <br />
      Jagodnik oferuje pyszne i zdrowe przetwory owocowe. Wszystkie soki, dżemy,
      musy przyrządzane są zgodnie z tradycyjnymi babcinymi przepisami, ze
      świeżo zebranych owoców, z własnej plantacji, bez sztucznych dodatków, w
      trosce o wasze zdrowie.
      <br />
      <br />
      <a href="https://www.facebook.com/Jagodnik-Skarszewski-254701711824157/"
        >Link do Facebooka</a
      >
    </p>
  </div>
</div>
