<div class="title">
  <h2>Jak to działa?</h2>
</div>
<section id="what-youll-get" class="ts-block text-center pt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-xl-4">
        <figure data-animate="ts-fadeInUp">
          <figure class="icon mb-5 p-2">
            <img src="../../../assets/icon-chart.png" alt="" />
            <div
              class="ts-svg"
              data-animate="ts-zoomInShort"
              data-bg-image="assets/svg/organic-shape-01.svg"
            ></div>
          </figure>
          <h4>Wynajmujesz działkę</h4>
          <p>
            Wybierasz działkę, jej umiejscowienie i wielkość na naszej ziemi.
            Napisz do nas a pomożemy Ci z wyborem.
          </p>
        </figure>
      </div>
      <!--end col-xl-4-->
      <div class="col-sm-6 col-md-4 col-xl-4">
        <figure data-animate="ts-fadeInUp" data-delay="0.1s">
          <figure class="icon mb-5 p-2">
            <img src="../../../assets/icon-target.png" alt="" />
            <div
              class="ts-svg"
              data-animate="ts-zoomInShort"
              data-bg-image="assets/svg/organic-shape-02.svg"
            ></div>
          </figure>
          <h4>Decydujesz o wszystkim</h4>
          <p>
            Od samego przygotowania działki, przez posadzenie wybranych przez
            ciebie roślin, ich podlewanie, pielenie, nawożenie, aż po zbiory -
            zajmujemy się wszystkim według twoich zaleceń.
          </p>
        </figure>
      </div>
      <!--end col-xl-4-->
      <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
        <figure data-animate="ts-fadeInUp" data-delay="0.2s">
          <figure class="icon mb-5 p-2">
            <img src="../../../assets/icon-first.png" alt="" />
            <div
              class="ts-svg"
              data-animate="ts-zoomInShort"
              data-bg-image="assets/svg/organic-shape-03.svg"
            ></div>
          </figure>
          <h4>Zbierasz plony</h4>
          <p>
            W każdej chwili możesz odwiedzic swój ogródek. My zbierzemy,
            przechowamy i na twoje życzenie dostarczymy Twoje plony pod wskazany
            adres.
          </p>
        </figure>
      </div>
      <!--end col-xl-4-->
    </div>
    <!--end row-->

    <div class="ts-title">
      <h2>lub</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6">
        <figure data-animate="ts-fadeInUp">
          <figure class="icon mb-5 p-2">
            <img src="../../../assets/icon-plants.png" alt="" />
            <div
              class="ts-svg"
              data-animate="ts-zoomInShort"
              data-bg-image="assets/svg/organic-shape-01.svg"
            ></div>
          </figure>
          <h4>Zdajesz się na nas</h4>
          <p>
            Skorzystaj z prowadzonych przez nas upraw warzyw i owoców, w sposób
            prawdziwie ekologiczny, w oparciu o permakulturę.
          </p>
        </figure>
      </div>
      <!--end col-xl-4-->
      <div class="col-sm-6 col-md-6 col-xl-6">
        <figure data-animate="ts-fadeInUp" data-delay="0.1s">
          <figure class="icon mb-5 p-2">
            <img src="../../../assets/icon-vegebox.png" alt="" />
            <div
              class="ts-svg"
              data-animate="ts-zoomInShort"
              data-bg-image="assets/svg/organic-shape-02.svg"
            ></div>
          </figure>
          <h4>Zamawiasz skrzynkę</h4>
          <p>
            Wybierz abonament na skrzynkę warzyw i owoców. Otrzymuj świeże
            zbiory, prosto z pola, w wybranych przez siebie odstępach czasu.
          </p>
        </figure>
      </div>
    </div>
  </div>
  <!--end row-->
  <!--end container-->
</section>
